@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

nav { 
  background-color:  black;
}

.navbar-brand{
    color: white;

}

.nav-item{
  color: white;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 18px;
}

.text-secondary {
  color: white!important;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 18px;
}

.secondNavButton {
  margin-right: 950px;
}

a:hover{ 
  text-decoration: none!important;
  color: white;
};

/* #itinerary {
  padding-right: 20px;
} */

#submitReviewButton {
 
}