form.search {
  overflow: auto;
  margin-bottom: 10px;
}

form.search button[type="submit"] {
  float: right;
  margin-top: 10px;
}

#buildingSearchButton {
  background: #13326d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #13326d, rgb(4, 85, 136));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #13326d, rgb(4, 85, 134)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-top: 10px;
  color: white;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 6px;
  margin-left: 150px;
}

#buildingSearchButton:hover {
  cursor: pointer;
  opacity: .9;

}

#searchForBuildings {
  display: flex;
  justify-content: center;
}