

#reviewForm {
    display: flex;
    justify-content: center;
}

#reviewText {
    display: flex;
    justify-content: center;
}

#formDropdown {
    width: 800px;
    margin: 0 auto;
    /* margin-left: 14%; */
     /* margin-left: 155px;  */
    /* display: flex;
    justify-content: center; */

}

/* #neighborhoods {
    width: 800px;
    display: flex;
    justify-content: center;
} */


@media screen and (max-width: 980px) {
    h1 {
      font-size: 50%;
      color: red;
    }
  }
  
  @media screen and (max-width: 768px) {
    h1 {
        font-size: 50%;
        color: red;
      }
  }
  
  
  
  @media screen and (max-width: 640px) {
    h1 {
        font-size: 50%;
        color: red;
      }
  }