
img{
    float: left;
    padding-right: 15px;
    height: 200px;
    width: 200px;
    padding-bottom: 40px;
}

.card {
    border: none;
    padding-top: 0px;
    
}

.buildingName {
    color: black;
    text-shadow: none;
    padding-top: 20px;
}

.architectName {
    font-size: 20px;
}