

#loginTitle {
   display: flex;
   justify-content: center;
   padding-top: 200px;
}


.formSection {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#buttonLogin {
   background-color: rgb(7, 150, 150);
   border: none;
   height: 40px;
   margin-left: 15px;
   position: absolute;
}

.form-input {
    width: 300px;
    height: 40px;
}

