

#mainSignupForm {
     display: flex;
     justify-content: center;
     padding-top: 20px;
 }

 #buttonSignup {
    margin-left: 15px;
    background-color: rgb(7, 150, 150);
    border: none;
    height: 40px;
    position: absolute;
}

#signupTitle {
    display: flex;
    justify-content: center;
    padding-top: 200px;
 }