

#mainSignupForm {
     display: flex;
     justify-content: center;
     padding-top: 20px;
 }

 #buttonSignup {
    background: #13326d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #13326d, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #13326d, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: 15px;
    border: none;
    height: 40px;
    position: absolute;
}

#signupTitle {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    color: #13326d;
    font-size: 45px;
 }

 #signupCaption {
    font-size: 20px;
    display: flex;
   justify-content: center;
   padding-top: 10px;
}

@media screen and (max-width: 980px) {
    #buttonSignup {
        min-width: 100px;
      font-size: 10px;
    }
  
  }

  @media screen and (max-width: 768px) {
    #buttonSignup {
        min-width: 100px;
      font-size: 10px;
    }
  
  }

  @media screen and (max-width: 640px) {
    #buttonSignup {
        min-width: 100px;
      font-size: 10px;
    }
  
  }